<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<form action="" method="post">
    <label>ID</label>
    <input id="user_name" type="text"></input>
    <label>PASSWORD</label>
    <input id="user_password" type="password"></input>
    <button value="회원가입"></button>
    <button value="로그인"></button>
</form>

</body>
</html>
