<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/stylesheets/common.css" type="text/css" rel="stylesheet">
    <link href="/stylesheets/main.css" type="text/css" rel="stylesheet">
</head>
<body>
<div>
    <header>
        <div id="topMenu">
            <div id="topMenuLeft">
                <a href=""><img src="/images/logo_white.png" style="padding-top: 10px;"/></a>
                <a href="">회차 별 문제</a>
                <a href="">시대 별 문제</a>
                <a href="">카테고리 별 문제</a>
                <a href="">오답률 높은 문제</a>
                <a href="">문제 올리기</a>
                <a href="">마이페이지</a>
            </div>
            <div id="topMenuRight">
                <a href=#">media@ajou.ac.kr</a>
            </div>
        </div>
    </header>


</div>
</body>
</html>
