<!DOCTYPE html>
<html>
<head>
    <title>발해</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/stylesheets/common.css" type="text/css" rel="stylesheet">
    <link href="/stylesheets/main.css" type="text/css" rel="stylesheet">
</head>
<body>

<header>
    <div id="topMenuRight">
        <a href="#">media@ajou.ac.kr</a>
    </div>
    <div id="topMenu">
        <div id="topMenuLeft">
            <a href="/"><img src="/images/logo_white.png" style="width: 100px; height: 50px;"/></a>
            <a href="/year" class="main_tab">회차 별 문제</a>&nbsp/&nbsp&nbsp&nbsp
            <a href="/era" class="main_tab">시대 별 문제</a>&nbsp/&nbsp&nbsp&nbsp
            <a href="/category" class="main_tab">카테고리 별 문제</a>&nbsp/&nbsp&nbsp&nbsp
            <a href="/recommend/incorrect" class="main_tab">오답률 높은 문제</a>&nbsp/&nbsp&nbsp&nbsp
            <a href="/upload" class="main_tab">문제 올리기</a>&nbsp/&nbsp&nbsp&nbsp
            <a href="/mypage" class="main_tab">마이페이지</a>&nbsp/&nbsp&nbsp&nbsp
        </div>
        <div id="">
            <a href="/member/<%=l%>"><%=l%></a>
        </div>
    </div>

</header>
<section>
    <h1>시대별 문제 </h1>
    <div>
        <div>
            <select style="width:40%;height:30%;" name="timeSelect">
                <option value="default">조선시대</option>
                <option value="default">삼국시대</option>
            </select>
        </div>
        <button id="YearSearchButton" onclick="" style="width:100px; height:40px; color:white; background-color:#C3C3C3;">검색</button>
    </div>

    <article>
      <div>

      </div>
    </article>

</section>


</body>
</html>
