<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<form method="post" action="/">
    <label>이름</label>
    <input id="user_name" type="text"></input>
    <label>E-mail</label>
    <input id="user_mail" type="email"></input>
    <label>PASSWORD</label>
    <input id="user_password" type="password"></input>
    <label>PASSWORD</label>
    <input id="user_password_confirm" type="password"></input>
    <label>생년원일</label>
    <input id="user_birth" type="date"></input>
    <label>성별</label>
    <select id="user_gender">
        <option>남</option>
        <option>여</option>
    </select>
    <label>주관심사</label>
    <input id="user_thing" type="text"></input>
    <input type="submit" value="회원가입"/>
</form>


</body>
</html>
