<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/stylesheets/common.css" type="text/css" rel="stylesheet">
    <link href="/stylesheets/main.css" type="text/css" rel="stylesheet">
</head>
<body>

<header>
    <div id="topMenuRight">
        <a href="#">media@ajou.ac.kr</a>
    </div>
    <div id="topMenu">
        <div id="topMenuLeft">
            <a href="/" class="main_tab"><img src="/images/logo_white.png" style="width: 100px; height: 50px;"/></a>
            <a href="/year" class="main_tab">회차 별 문제</a>&nbsp/&nbsp&nbsp&nbsp
            <a href="/era" class="main_tab">시대 별 문제</a>&nbsp/&nbsp&nbsp&nbsp
            <a href="/category" class="main_tab">카테고리 별 문제</a>&nbsp/&nbsp&nbsp&nbsp
            <a href="/recommend/incorrect" class="main_tab">오답률 높은 문제</a>&nbsp/&nbsp&nbsp&nbsp
            <a href="/recommend/manySolved" class="main_tab">많이 푼 문제</a>&nbsp/&nbsp&nbsp&nbsp
            <a href="/upload" class="main_tab">문제 올리기</a>&nbsp/&nbsp&nbsp&nbsp
            <a href="/mypage" class="main_tab">마이페이지</a>&nbsp/&nbsp&nbsp&nbsp
        </div>
        <div id="login">
            <a href="/member/<%=l%>"><button style="width: 70px; height: 30px;"><%=l%></button></a>
        </div>
    </div>

</header>
<section>
    <h1>문제 올리기</h1>

    <div>
        <div>
            <form class="create_question" action="/upload" method="post" enctype='multipart/form-data'>
                <input type="text" placeholder="정답" name="answer"/></br>
                <input type="text" placeholder="태그" name="category"/></br>
                <input type="text" placeholder="시대" name="era"/></br>
                <input type="text" placeholder="시험 날짜" name="date"/></br>
                <input type="text" placeholder="점수" name="score"/></br>
                <input type="file" style="margin: 0 auto; text-align: center;" name="uploadFile" accept="image/*"/></br>
                <input type="submit" value="등록" style="width:100px; height:40px; color:white; background-color:#C3C3C3;">
            </form>
        </div>

    </div>

    <article>
        <p id="p">
        </p>
    </article>

</section>


</body>
</html>
