body {
    text-align: center;
    background-color:#F2F2F2;
    font-family:KoPubDotum;
    margin:0px;
}
a{
    text-decoration: none;
    color: white;
}
.main_tab:hover{
    font-size:x-large;
    font-weight: 200;
    background-color: #144866;
}
#topMenu {
    margin:0 auto;
    width:1058px;
    padding: 20px;
}
#topMenuLeft {
    float:left;
}
#topMenuRight {
    margin-right: 10%;
    float:right;
}
header{
    margin:0px auto;
    background-color:#2790D9;
    color:white;
    padding-bottom:40px;
}

#login{
    right: 0;
    float: right;
}

.save_button{
    width:245px; height:40px;
    margin:10px 0px 0px 0px;
    color:white;
    background-color: #2790D9;
    border:0px;

    font-family: "koPub 돋움체 Bold";
    font-size:15px;
}
